<div class="Update-Form">
  <form [formGroup]="form">
    <mat-grid-list cols="5" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [formControlName]="'name'"/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>WorkShop No</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Building No</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Filler</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>InsertionDate</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>WorkShop No</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Building No</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Filler</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>InsertionDate</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
