



<button (click)="exportAsXLSX()">Export to Excel</button>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="selectAll()">Select All</button>
<ag-grid-angular
    #agGrid
    style="width: 100%; height: 100vh"
    class="ag-theme-alpine"
    pagination
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
>
</ag-grid-angular>

<router-outlet></router-outlet>
