



<button (click)="exportAsXLSX()">Export to Excel</button>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="selectAll()">Select All</button>

<ul> <li>Job Transfer</li> <li>Job Cancellation</li> <li>Weekely Checklist</li> <li>Print Job Slip</li>  </ul>

<ag-grid-angular
    #agGrid
    class="ag-theme-alpine"
    pagination
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [paginationPageSize] ="10"
>
</ag-grid-angular>


<router-outlet></router-outlet>
